.about_warp{

	width: 1710px;
	margin: 0 auto;
	display:table;
}

.shangbuk{
	width: 429px;
	float: left;
}
.shangbu {
	border:1px solid gray;
	border-right: 0;
	background-color:#DCDCDC;
	padding-left: 5px;
	border-left: 0;
	line-height: 32px;
}
.shangbu p {
	font-size: 14px;
	font-weight: bold;
}
.shangbu  span {
	font-size: 14px;
	color: #f00;
	font-weight: bold;
}
.shangbu ul  {
	margin-bottom: 14px;
	border:1px solid #ddd;
	border-radius:5px;
	background-color:#FFFFFF;
	width: 1710px;
}

.shangbu ul li {
	font-size: 14px;
	padding-left:30%;
}

.zhongbu  {
	font-size: 14px;
	background-color:#dedede;
	height: 31px;
}
.zhongbu1 {
	height: 31px;
	padding-left:5px;
}
.zhongbu1 span{
	height: 31px;
	font-size: 14px;
	color:#ffffff;
	line-height: 31px;
	font-weight: bold;
} 
.qiyejianjie {
	text-align: center;
	margin: 20px 0 ;
}
.qiyejianjie_a{
	text-align: center;
	background-color: #ccc;
	border-radius: 5px ;
	line-height: 29px;
	font-size: 14px;
	color: black; 
	padding:10px 156px;
} 
.qiyejianjie_a:hover {
	background-color: red;
	color: #fff !important; 
	cursor: pointer;
}
.youbu {
	border-left: 1px solid #999;
	width: 1280px;
	float: right;
	min-height: 680px;
}
.shangm {
	border:1px solid gray;
	padding-left: 10px;
	background-color:#DCDCDC;
	border-left:0;
	border-right:0;
}
.shangm p {
	color:#0075c1;
	font-size:14px;
	font-weight: bold;
	line-height: 32px;
}
.xiam {
	padding-left: 10px;
	padding-top: 9px;
	overflow-y:auto;
	height: 680px;
}

.xiabu{
	margin-top:24px;
	padding:10px;
}
.xiabu h4 {
	font-size: 13px;
}

.chanpinzhanshi{
	margin-bottom: 10px;
}

.chanpinzhanshi ul li {
	width: 397px;
	border:1px solid gray;
	height: 25px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 15px;
	padding:4px 10px;

}
.chanpinzhanshi ul li > i{
	line-height: 25px;
}
.chanpinzhanshi ul li > i:first-child{
	float: left;
	color: red;
}

.chanpinzhanshi ul li > i:last-child{
	float: right;
	color: #FF6666;
}
.chanpinzhanshi ul li a{
	padding: 0 5px;
	line-height: 25px;
}
.chanpinzhanshi ul li a:hover{
	text-decoration: none;
}

.tup ul {
	margin-top: 10px;
	margin-left: 10px;
	display:table;
}
.tup ul li {
	float: left;
	width: 404px;
	margin: 5px;
}
.tup ul li p {
	text-align: center;
	font-size: 12px;
}
.tup1 ul {
	margin-top: 10px;
	margin-left: 10px;
	display:table;
}
.tup1 ul li {
	float: left;
	width: 165px;
	margin: 5px;
}

<!-- 满屏横幅CSS开始  -->
.js-silder{
	position: relative;
	min-width: 320px;
}
.silder-scroll{
	width: 100%;
	overflow: hidden;
}
.silder-main{
	position: relative;
	width: 100%;
	overflow: hidden;
}
.silder-main-img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.silder-main-img img{
	width: 100%;
}
.js-silder-ctrl{
	width: 100%;
	text-align: center;
}
.silder-ctrl-prev,
.silder-ctrl-next{
	position: absolute;
	top: 0;
	width: 8%;
	height: 100%;
	vertical-align: middle;
	cursor: pointer;
	color: #fff;
	font-family: "宋体";
	font-size: 52px;
	font-weight: 600;
	text-shadow: #666 2px 2px 5px;
}
.silder-ctrl-prev{
	left: 0;
	text-align: left;
}
.silder-ctrl-next{
	right: 0;
	text-align: right;
}
.silder-ctrl-prev>span,
.silder-ctrl-next>span{
	position: absolute;
	top: 50%;
	margin-top: -40px;
}
.silder-ctrl-prev>span{
	left: 0;
}
.silder-ctrl-next>span{
	right: 0;
}
.silder-ctrl-con{
	display: inline-block;
	width: 4%;
	padding: 10px 0;
	margin: 0 10px;
	cursor: pointer;
}
.silder-ctrl-con>span{
	display: block;
	line-height: 0;
	text-indent: -9999px;
	overflow: hidden;
	padding: 5px 0;
	cursor: pointer;
	background-color: #e4e4e4;
}
.silder-ctrl-con.active>span{
	background-color: #7bbedf;
}

<!-- 横幅CSS结束 -->