.banner_warp{
  width: 1002px;
  margin: 0 auto;
  text-align: center;
  padding:20px 0px;
  background-color: white;
  overflow: hidden;
}

.banner_warp_div{
  h1{
    color: black;
    span{
      font-size: inherit;
      color: red;
    }
  }
  p{
    margin-top: 10px;
    color: #999;
    font-size: 18px;
  }
  width: 39%;
  margin: 10px auto;
  border-bottom: 1px solid #ddd;
}

.spanse{
  padding-bottom: 20px;
  margin: 0px auto;
  width: 50%;
  border-bottom: 3px solid red;
}

.jianbian{
  width: 1002px;
  height: 20px;
  margin: 5px auto;
  background: linear-gradient(right, #ffffff, #8c8c8c,#ffffff );
  background: -webkit-linear-gradient(right, #ffffff, #8c8c8c,#ffffff );
}

.bottom-img{
  width: 1002px;
  margin: 0 auto;
}

.logo-box{
  float: left;
  width: 35%;
  border-right: 1px solid black;
}

.header-warp{
  padding:40px 0;
  display: table;
  width: 1002px;
  margin: 0 auto;
}

.company-title{
  width: 30%;
  float: left;
  text-align: center;
  padding-top: 16px;
  h1{

    color: blue;
  }
  p{
    font-weight: bold;
    margin-top: 4px;
    color: black;
    font-size: 14px;

  }
}

.header-right{
  margin-left: 95px;
  float: left;
  padding-top:16px;
}

.header-right-img{
  margin-left: 28px;
  float: left;
  i{
    color: #2361ec;
    font-size: 54px;
  }
}

.header-right-content{
  float: left;
  color: black;
  margin-left: 10px;
  p{
    color: black;
    font-weight: bold;
    font-size: 16px;
  }
  h1{

  }
}

.nav{
  width: 100%;
  background-color: blue;
  padding:10px 0px;
}

.nav-box{
  width: 1002px;
  margin: 0 auto;
  ul{

    display: table;
    width: 100%;
    text-align: center;
    li{
      padding:5px 10px;
      float: left;
      width: 14.5%;
      border-right: 1px solid white;
      a{
        color: white;
        h2{
          color: white;
        }
        p{
          font-size: 13px;
          color: white;
        }
        &:hover{
          color: #e60212;
          text-decoration: none;
          h2{
            color: #e60212;
          }
          p{
            color: #e60212;
          }
        }
      }

      &:last-child{
        border-right: 0px;
      }
    }
  }
}


.qz-banner-warp{
  ul{
    li{
      margin: 10px !important;
      width: 183.8px !important;
      height: 180px !important;
    }
  }
}

.index_cash_show{
  display: table;
}
.index-cash-show-left{
  width: 200px;
  color: black;
  float: left;
}
.index-cash-show-left-title{
  text-align: right;
  padding-right: 20px;
  padding-bottom: 10px;
  h2{
    font-size: 20px;
    font-weight: bold;
  }
}

.index-cash-show-left-ul{
  ul{
    padding: 75px 0px 0px 8px;
    li{
      list-style-type: none;
      width: 180px;
      height: 30px;
      margin: 0px 0px 1px 0px;
      color: #333;
      text-align: left;
      padding-left: 28px;
      cursor: pointer;
      line-height: 30px;
      font: 14px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
    }
    .active{
      list-style-type: none;
      width: 180px;
      height: 30px;
      margin: 0px 0px 1px 0px;
      color: white;
      text-align: left;
      padding-left: 28px;
      cursor: pointer;
      line-height: 30px;
      font: 14px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
    }
  }
}

.index-cash-show-right{
  width: 802px;
  float: left;
  height: 378px;
  overflow: hidden;
}
.index-cash-show-right-item{
  padding:20px;
  display: none;
  ul{
    display: table;

    li{
      margin-right: 10px;
      margin-bottom: 10px;
      text-align: center;
      float: left;
      img{
        padding:2px;
        border: 1px solid #ccc ;
        width: 170px;
        height: 146px;
      }
      h4{
        margin: 5px 0px;
        a{
          color: #737272;
          cursor: pointer;
        }
      }
    }
  }
}