@charset "UTF-8";

body{
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
}

.changyi-index{
  min-width: 1440px;
}

.banner_warp{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding:20px 0px;
  background-color: white;
  overflow: hidden;
}

.banner_warp_div{

  h1{

    font-size: 37px;
    color: black;
    span{
      font-size: inherit;
      color: red;
    }
  }
  p{
    margin-top: 35px;
    color: #999;
    font-size: 34px;
    a{
      font-size: 18px;
    }
  }
  width: 60%;
  margin: 10px auto;
  border-bottom: 1px solid #ddd;
}


.spanse{
  padding-bottom: 20px;
  margin: 0px auto;
  width: 50%;
  border-bottom: 3px solid red;
}

.jianbian{
  width: 90%;
  height: 20px;
  margin: 5px auto;
  background: linear-gradient(right, #ffffff, #8c8c8c,#ffffff );
  background: -webkit-linear-gradient(right, #ffffff, #8c8c8c,#ffffff );
}

.bottom-img{
  width: 100%;
  margin: 10px auto;
}

.logo-box{
  float: left;
  width: 21%;
  margin: 0px 0px 0px 80px;
  border-right: 1px solid black;
  img{
    width: 90%;
  }
}

.header-warp{
  padding:10px 0 2px;
  display: table;
  width: 90%;
  margin: 0 auto 10px;
  border-bottom: 1px dashed #999;
}

.company-title{
  width: 30%;
  float: left;
  padding-top: 16px;
  margin-left: 2%;
  h1{
    color: red;
    font-weight: bold;
    font-size: 25px;
  }
  p{
    font-weight: bold;
    margin-top: 8px;
    color: black;
    font-size: 14px;

  }
}

.header-right{
  margin-left: 17%;
  float: left;
  padding-top:8px;
}

.header-right-img{
  margin-left: 28px;
  float: left;
  i{
    color: #2361ec;
    font-size: 74px;
  }
}

.header-right-content{
  float: left;
  color: black;
  margin-left: 10px;
  margin-top: 7px;
  p{
    color: black;
    font-weight: bold;
    font-size: 26px;
  }
  h1{
    font-weight: bold;
    margin-top: 10px;
  }
}

.nav{
  width: 90%;
  margin: 0 auto;
  padding:0px 0px;
}

.nav-box{
  width: 100%;
  margin: 0 auto;
  ul{

    display: table;
    width: 100%;
    text-align: center;
    li{
      padding:5px 10px;
      float: left;
      width: 12.5%;
      border-right: 1px solid black;
      a {
        color: white;
        h2 {

        }
        p {
          font-size: 13px;
          color: white;
        }
        &:hover {
          color: #e60212;
          text-decoration: none;
          h2 {
            color: #e60212;
          }
          p {
            color: #e60212;
          }
        }
      }

      &:last-child{
        border-right: 0px;
      }
    }
  }
}


.qz-banner-warp{
  ul{
    li{
      margin: 3px !important;
      width: 195.4px !important;
      height: 180px !important;
      a{
        width: 100%;
        height: 100%;
      }
    }
  }
}

.index_cash_show{
  display: table;
  width: 100%;
}
.index-cash-show-left{
  width: 19%;
  color: black;
  float: left;
}
.index-cash-show-left-title{
  text-align: right;
  padding-right: 20px;
  padding-bottom: 10px;
  h2{
    font-size: 20px;
    font-weight: bold;
  }
}

.index-cash-show-left-ul{
  img{
    width: 100%;
  }
  ul{
    margin-left: 1%;
    li{
      list-style-type: none;
      width: 100%;
      height: 30px;
      margin: 0px 0px 30px 0px;
      color: #333;
      text-align: left;
      cursor: pointer;
      line-height: 30px;
      font: 14px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
      background-color: #d4d4d4;
      span{
        float: right;
      }
      a{
        margin-left: 10%;
      }
    }
    .active{
      list-style-type: none;
      width: 100%;
      height: 30px;
      margin: 0px 0px 30px 0px;
      text-align: left;
      cursor: pointer;
      line-height: 30px;
      font: 14px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;
      background-color: #3589f1;
      a{
        color: white;
      }
      span{
        color: white;
      }
    }
  }
}

.index-cash-show-right{
  width: 81%;
  float: left;
  height: 720px;
  overflow: hidden;
}
.index-cash-show-right-item{
  padding:20px;
  display: none;
  ul{
    display: table;

    li{
      margin-right: 17.7px;
      margin-bottom: 10px;
      text-align: center;
      float: left;
      width: 32% ;
      img{
        padding:2px;
        border: 1px solid #ccc ;
        width: 100%;
        height: 310px;
      }
      h4{
        margin: 0px 0px;
        a{
          color: #737272;
          cursor: pointer;
        }
      }
    }
  }
}


.index-partner-warp{
  width: 90%;
  margin: 0 auto;
  display: table;
}
.index-partner-tit{
  float: left;
  width: 17%;
  margin: 10px 5px 10px 0;
  .index-partner-tit-t{
    text-align: center;
    width: 100%;
    height: 150px;
    background-color: #00006e;
    img{
      width: 100%;
      height: 150px;
    }

    p{
      color: white;
      position: relative;
      top:60px;
    }
    h2{
      color: white;
      font-size: 30px;
      position: relative;
      top:70px;

    }
  }
}

.index-partner-cont{
  float: left;
  width: 82%;
  ul{
    li{
      width: 150px;
      height: 150px;
      margin: 10px 5px;
      img{
        width: 100%;
      }
    }
  }
}

