@charset "gb2312";
/* CSS Document */

BODY {
	font-size:12px;
	line-height:24px;
	margin:0px auto;
	padding:0px;
	border:0px;
	width:100%;
	background-color:#f2f2f2;
	color:#848484;
	margin-left: 0px;
	margin-right: 0px;
}
div,form,img,ul,ol,li,dl,dt,dd,em,i,h1,h2,h3,h4,p{padding:0px; border:0px;margin:0px auto;list-style: none;font-style:normal;}
img{vertical-align:top;}

a:link{color:#3E3E40; text-decoration:none;}
a:visited{color:#3E3E40; text-decoration:none;}
a:hover{color:#C30; text-decoration:underline;}

.Top_Right a:link{color:#fff; text-decoration:none;}
.Top_Right a:visited{color:#fff; text-decoration:none;}
.Top_Right a:hover{color:#fff; text-decoration:underline;}

#links a:link{color:#666666; text-decoration:none;}
#links a:visited{color:#666666; text-decoration:none;}
#links a:hover{color:#ff3300; text-decoration:underline;}

#base a:link{color:#ffffcc; text-decoration:none;}
#base a:visited{color:#ffffcc; text-decoration:none;}
#base a:hover{color:#ffffff; text-decoration:underline;}

.BodyBox{width:1002px;}

.H{ }
.bg{background-color:#ff0;}
.bg1{background-color:#960;}
.bg2{background-color:#900;}
.bg3{background-color:#990;}
.Top10{margin-top:16px;}
.B2{border:3px solid #ebebeb;}

.Body_Top{width:1002px;}
.Body_Top dt{ background-image:url(../images/TopBg.jpg); background-repeat:repeat-x;}
.Daohang{float:left;width:1002px;}
.Daohang dt{background-image:url(../images/Index_06.jpg); background-repeat:repeat-x;}
.Body_Pic{ width:1002px;float:left; height:332px; background-image:url(../images/Bg.jpg); background-repeat:repeat-x;}
.Body_Pica{margin-left:6px;width:986px;height:332px!important;height:320px;padding:5px;background-image:url(../images/index_21.jpg); background-repeat:no-repeat;}
.Body_Picb{float:left; width:980px;;height:310px;position:relative;}


.container,.container * {margin:0;padding:0;}
.container {width:100%; height:310px;overflow:hidden;position:relative; }
.slider {position:absolute;}

.slider li {list-style:none;display:inline;}
.slider img {width:980px; height:310px;}

.Slider_Main{position:absolute;bottom:-13px;left:408px;}
.Slider_Main dt{ float:left;}

.num {position:absolute;right:5px;bottom:5px;}
.num li {float:left;color:#FA9E16;text-align:center;line-height:16px;width:16px;height:16px;font-family:Arial;font-size:12px;cursor:pointer;overflow:hidden;margin:3px 1px;border:1px solid #FA9E16;background-color:#fff;}
.num li.on {color:#fff;line-height:21px;width:21px;height:21px;font-size:16px;margin:0 1px;border:0;background-color:#FA9E16;font-weight:700;}

.STitle{position:absolute;right:0px;bottom:0px; width:737px;height:36px;  background-color:#333;filter:alpha(opacity=70);}
.STitle li{ margin-left:8px;font-size:14px; line-height:36px;font-weight:bold;}
.STitle a:link{color:#FFFFFF;}
.STitle a:visited {text-decoration: none;color:#FFFFFF;}
.STitle a:hover{color:#FFFFCC;}
.STitle a:active {text-decoration: none;color:#FFFFFF;}



.Body_Main{ float:left;width:996px;;background-color:#CBCBCB; background-image:url(../images/Bg3.jpg); background-repeat:repeat-x; padding-left:6px;}
.Body_Maina{float:left;width:991px; height:192px; background-image:url(../images/Bg1.jpg); background-repeat:no-repeat;}
.Body_Main_Left{ margin-top:1px; float:left; width:282px; height:192px;}
.Body_Main_Left dt{ float:left;width:282px;}
.Body_Main_Left dd{float:left;width:100%;overflow:hidden; padding:8px; line-height:22px; color:#333;}
.Body_Main_Left dd img{ float:left;width:121px;height:75px; margin-top:0px; margin-left:0px; margin-right:8px; margin-bottom:8px;display:inline;}

.Body_Main_Lefta { margin-top:1px;float:left;width:470px; height:192px; margin-left:17px;}
.Body_Main_Lefta dt{width:100%;float:left;}
.Body_Main_Lefta dd{width:470px;float:left;}
.Body_Main_Lefta ul{float:left;margin-Top:10px; margin-left:0px!important;margin-left:0px;}
.Body_Main_Lefta li{float:left;line-height:22px; margin-left:5px!important; margin-left:2px; text-align:center; margin-Right:5px!important;margin-Right:2px;}
.Body_Main_Lefta li img{width:140px; height:105px;}

.Body_Main_Right{ margin-top:1px;float:right;width:208px!important;width:200px; height:192px;}
.Body_Main_Right dt{width:100%;float:left;}
.Body_Main_Right dd{width:205px!important;width:196px;height:150px;float:left; background-image:url(../images/bg2a.jpg); background-repeat:no-repeat; background-position:0px 7px!important;background-position:-4px 7px;}
.Body_Main_Right ul{ float:left; margin-left:6px!important;margin-left:0px; margin-top:0px; line-height:29px;}
.Body_Main_Right li{width:100%;float:left;}

.Gundong{margin-Top:0px!important;margin-Top:-1px;float:left;width:996px;;background-color:#CBCBCB; padding-left:6px;background-image:url(../images/Bg4.jpg); background-repeat:repeat-x;}
.GundongPic{width:991px; height:82px; float:left; background-color:#fff;background-image:url(../images/Index_37.jpg); background-repeat:repeat-x;}
.Gundong_Left{width:138px; float:left;}
.Gundong_Main{width:810px;height:82px; overflow:hidden; float:left;  margin-left:6px;}
.Gundong_Main Table{ width:1750px;}
.Gundong_Pic{ margin-top:5px; float:left;}
.Gundong_Pic ul{float:left;}
.Gundong_Pic li{float:left;}
.Gundong_Pic img{border:0px;}
.bg_Line{float:left; background-image:url(../images/Index_38.jpg); background-repeat:no-repeat; width:17px; height:71px;}

.Gundong_Right{float:right;height:82px; width:28px;}



.Foot{ width:100%;color:#FFFEFC;background-color:#333333; height:120px; line-height:22px; float:left; font-family:Arial, Helvetica, sans-serif; text-align:center;}
.Foot ul{margin-top:10px;}
.Foot span{float:right; margin-right:10px;}
.Foot a:link{color:#FFFEFC; text-decoration:none; font-size:13px;}
.Foot a:visited{color:#FFFEFC; text-decoration:none;font-size:13px;}
.Foot a:hover{color:#ff3300; text-decoration:underline;font-size:13px;}


.foot_jc{ width:100%; float:left; text-align:center;}
.foot_jc img{ width:60px; height:60px;}



.Body_Content{ float:left;width:996px; background-color:#f2f2f2;}
.Body_Content_Left{ float:left; width:282px; margin-left:6px!important;margin-left:2px; overflow:hidden;}
.DaohangList{width:100%;border-Top:3px solid #333;}
.DaohangList dt{float:left;width:100%;}
.DaohangList dd{float:left;background-color:#9C2C2B;background-image:url(../images/3.jpg); background-repeat:repeat-x; /*border-bottom:1px solid #333;*/}
.DaohangList ul{ float:left;}
.DaohangList li{ float:left; margin-top:10px; line-height:32px;width:282px; height:32px; background-image:url(../images/1_03.jpg); background-repeat:no-repeat;}
.DaohangList li a:link{color:#FFFEFC; text-decoration:none; font-size:14px;font-weight:bold; margin-left:45px;}
.DaohangList li a:visited{color:#FFFEFC; text-decoration:none;font-size:14px;font-weight:bold; margin-left:45px;}
.DaohangList li a:hover{color:#ffffE8; text-decoration:underline;font-size:14px; font-weight:bold; margin-left:45px;}
.DaohangList li span{ float:left; width:280px; margin-left:5px;}

.DaohangList span a:link{color:#FFFEFC; text-decoration:none; font-size:12px;font-weight:bold; margin-left:65px;}
.DaohangList span a:visited{color:#FFFEFC; text-decoration:none;font-size:12px;font-weight:bold; margin-left:65px;}
.DaohangList span a:hover{color:#ffffE8; text-decoration:underline;font-size:12px; font-weight:bold; margin-left:65px;}


.Zplist{ float:left;}
.Zplist dt{ float:left;}
.Zplist dd{ float:left;width:280px; background-color:#fff; border:1px solid #ebebeb;}
.Zplist dd ul{ float:left; margin-left:4px!important;margin-left:2px;margin-Top:8px;}
.Zplist dd li{ float:left; padding:5px; text-align:center;}
.Zplist dd li img{width:121px;height:90px;}

.Body_Content_Right{ float:right; width:690px; background-color:#FFF;}
.Body_Content_Right dt{margin-left:5p;line-height:22px; margin-top:8px;margin-bottom:6px;color:#666666;}
.Body_Content_Right span{ float:right;margin-right:8px;}
.Body_Content_Right dd{width:690px;float:left; border-Top:1px solid #999999;}




.Contentstr{ width:630px!important;width:630px;padding:20px; line-height:22px; color:#333333;}
.Contentstr .Titles{width:100%; text-align:center; font-weight:bold; font-size:14px;}
.Contentstr .Titlesstr{width:100%;text-align:center; font-size:12px; border-bottom:1px solid #ccc; margin-bottom:16px;}
.Contentstr .Titlesstr span{color:#C30;}
.Contentstr img{ max-width:600px;}

.Article{ width:660px; float:left;margin-left:0px!important;margin-left:-5px;}
.Article  Ul{margin-left:25px!important;margin-left:20px;margin-Top:5px;}
.Article  li{width:630px;border-bottom:1px solid #ebebeb;}
.Article  em{color:#C30;}
.Article span{float:right; margin-right:15px;}
.Page{ float:left;width:100%;margin-Top:6px;color:#666666; line-height:25px; text-align:center;}

.Pro{float:left; margin-top:2px; }
.Pro ul{margin-left:0px!important;margin-left:-6px;}
.Pro li{ line-height:45px;background-image:url(../images/anlibg.jpg); background-repeat:no-repeat;float:left; width:230px; height:205px; text-align:center; margin-left:0px!important; margin-left:0px;margin-Top:10px;margin-Bottom:10px;}
.Pro img{ margin-Top:20px;width:200px; height:135px;}
.Pro li a:link{color:#666666; text-decoration:none; font-size:12px; }
.Pro li a:visited{color:#666666; text-decoration:none;font-size:12px;}
.Pro li a:hover{color:#ff3300; text-decoration:underline;font-size:12px;}


.Proa{float:left; margin-top:2px; }
.Proa ul{margin-left:20px!important;margin-left:8px;}
.Proa li{float:left;text-align:center; margin-left:12px!important; margin-left:12px;margin-Top:10px;margin-Bottom:10px;}
.Proa img{ margin-Top:20px;width:127px; height:71px;}
.Proa li a:link{color:#666666; text-decoration:none; font-size:12px; }
.Proa li a:visited{color:#666666; text-decoration:none;font-size:12px;}
.Proa li a:hover{color:#ff3300; text-decoration:underline;font-size:12px;}

/***锟斤拷?凤拷锟芥??锟藉嘲锟?***/
.ke-xiang span{float:left;}
.booking-con{border-top:1px #C8C8C8 solid;border-left:1px #C8C8C8 solid;border-right:1px #C8C8C8 solid;background:#F5F5F5; width:97%; margin-top:9px;}
.booking-con li{border-bottom:1px #C8C8C8 solid;padding:5px 0px 5px 10px;}
.ke-xiang {width:100%;clear:both;}
.ke-xiang ul{clear:both; width:600px;}
.ke-xiang li{border-bottom:1px #633F1B dashed;line-height:36px;}
.left-adv{width:92%;float:left;}
.right-adv{width:8%;float:right;}
.more_xiang{text-align:center; width:560px;}
.hxxx{width:560px; height:932px; margin-top:9px;}
.hxxx img{border:#5A0200 3px solid;}

#username{width:206px; height:16px;overflow:hidden; background:3A3A3A; border:575757 1px solid;}

.Body_Contenta{width:1002px; float:left; height:530px;overflow:hidden;position:relative;}
.Body_Contenta dt{ width:100%; height:30px;}

.Body_Contenta ul{float:right; margin-right:20px;margin-top:5px;}
.Body_Contenta li{float:left; height:25px; padding-left:8px;padding-right:8px;padding-top:0px;padding-bottom:0px; margin-left:5px; margin-right:5px; background-color:#59110B;}
.Body_Contenta dd{float:left;width:100%; border-top:1px solid #59110B; margin-top:-1px; overflow:hidden;}
.Body_Contenta a:link{color:#FFFEFC; text-decoration:none; font-size:12px;font-weight:bold; }
.Body_Contenta a:visited{color:#FFFEFC; text-decoration:none;font-size:12px;font-weight:bold;}
.Body_Contenta a:hover{color:#ffffE8; text-decoration:underline;font-size:12px; font-weight:bold;}

#imageFlow {overflow:hidden;position: absolute; width: 1002px; height: 550px; margin:0 auto; overflow-x:hidden; background-color:#333;}

#imageFlow .diapo { position: absolute; left: -1000px; cursor: pointer; -ms-interpolation-mode: nearest-neighbor; }
#imageFlow .link { border: dotted #fff 1px; margin-left: -1px; margin-bottom: -1px; }
#imageFlow .bank { visibility: hidden; }
#imageFlow .top { position: absolute; width: 100%; height: 20%; }
#imageFlow .text { position: absolute; left: 0px; width: 100%; bottom: 13%; text-align: center; color: #FFF; font-family: verdana, arial, Helvetica, sans-serif; z-index: 1000; }
#imageFlow .title { font-size: 12px; font-weight: bold; color:#fff; }
#imageFlow .legend { font-size: 12px; color:#fff; padding-top:8px;}
#imageFlow .scrollbar { position: absolute; left: 10%; bottom: 10%; width: 80%; height: 16px; z-index: 1000; }
#imageFlow .track { position: absolute; left: 1%; width: 98%; height: 16px; filter: alpha(opacity=30); opacity: 0.3; }
#imageFlow .arrow-left { position: absolute; }
#imageFlow .arrow-right { position: absolute; right: 0px; }
#imageFlow .bar { position: absolute; height: 16px; left: 25px; }
