.banner_warp {
  width: 1002px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px;
  background-color: white;
  overflow: hidden; }

.banner_warp_div {
  width: 60%;
  margin: 10px auto;
  border-bottom: 1px solid #ddd; }
  .banner_warp_div h1 {
    font-size: 37px;
    color: black; }
    .banner_warp_div h1 span {
      font-size: inherit;
      color: red; }
  .banner_warp_div p {
    margin-top: 10px;
    color: #999;
    font-size: 34px; }

.spanse {
  padding-bottom: 20px;
  margin: 0px auto;
  width: 50%;
  border-bottom: 3px solid red; }

.jianbian {
  width: 1002px;
  height: 20px;
  margin: 5px auto;
  background: linear-gradient(right, #ffffff, #8c8c8c, #ffffff);
  background: -webkit-linear-gradient(right, #ffffff, #8c8c8c, #ffffff); }

.bottom-img {
  width: 1002px;
  margin: 10px auto; }

.logo-box {
  float: left;
  width: 35%;
  border-right: 1px solid black; }

.header-warp {
  padding: 40px 0;
  display: table;
  width: 1002px;
  margin: 0 auto; }

.company-title {
  width: 30%;
  float: left;
  text-align: center;
  padding-top: 16px; }
  .company-title h1 {
    font-family: "Microsoft SimHei", Arial, sans-serif;
    color: blue; }
  .company-title p {
    font-family: "Microsoft SimHei", Arial, sans-serif;
    font-weight: bold;
    margin-top: 4px;
    color: black;
    font-size: 14px; }

.header-right {
  margin-left: 78px;
  float: left;
  padding-top: 8px; }

.header-right-img {
  margin-left: 28px;
  float: left; }
  .header-right-img i {
    color: #2361ec;
    font-size: 74px; }

.header-right-content {
  float: left;
  color: black;
  margin-left: 10px;
  margin-top: 7px; }
  .header-right-content p {
    color: black;
    font-weight: bold;
    font-size: 26px; }

.nav {
  width: 1002px;
  margin: 0 auto;
  background-color: #00006e;
  padding: 10px 0px; }

.nav-box {
  width: 1002px;
  margin: 0 auto; }
  .nav-box ul {
    display: table;
    width: 100%;
    text-align: center; }
    .nav-box ul li {
      padding: 5px 10px;
      float: left;
      width: 14.5%;
      border-right: 1px solid white; }
      .nav-box ul li a {
        color: white; }
        .nav-box ul li a h2 {
          color: white; }
        .nav-box ul li a p {
          font-size: 13px;
          color: white; }
        .nav-box ul li a:hover {
          color: #e60212;
          text-decoration: none; }
          .nav-box ul li a:hover h2 {
            color: #e60212; }
          .nav-box ul li a:hover p {
            color: #e60212; }
      .nav-box ul li:last-child {
        border-right: 0px; }

.qz-banner-warp ul li {
  margin: 3px !important;
  width: 195.4px !important;
  height: 180px !important; }
  .qz-banner-warp ul li a {
    width: 100%;
    height: 100%; }

.index_cash_show {
  display: table; }

.index-cash-show-left {
  width: 200px;
  color: black;
  float: left; }

.index-cash-show-left-title {
  text-align: right;
  padding-right: 20px;
  padding-bottom: 10px; }
  .index-cash-show-left-title h2 {
    font-size: 20px;
    font-weight: bold; }

.index-cash-show-left-ul ul {
  padding: 75px 0px 0px 8px; }
  .index-cash-show-left-ul ul li {
    list-style-type: none;
    width: 180px;
    height: 30px;
    margin: 0px 0px 1px 0px;
    color: #333;
    text-align: left;
    padding-left: 28px;
    cursor: pointer;
    line-height: 30px;
    font: 14px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif; }
  .index-cash-show-left-ul ul .active {
    list-style-type: none;
    width: 180px;
    height: 30px;
    margin: 0px 0px 1px 0px;
    color: white;
    text-align: left;
    padding-left: 28px;
    cursor: pointer;
    line-height: 30px;
    font: 14px/30px 'Microsoft YaHei','SimSun',Arial,Sans-Serif; }

.index-cash-show-right {
  width: 802px;
  float: left;
  height: 378px;
  overflow: hidden; }

.index-cash-show-right-item {
  height: 378px;
  padding: 20px;
  display: none; }
  .index-cash-show-right-item ul {
    display: table; }
    .index-cash-show-right-item ul li {
      margin-right: 10px;
      margin-bottom: 10px;
      text-align: center;
      float: left; }
      .index-cash-show-right-item ul li img {
        padding: 2px;
        border: 1px solid #ccc;
        width: 170px;
        height: 146px; }
      .index-cash-show-right-item ul li h4 {
        margin: 5px 0px; }
        .index-cash-show-right-item ul li h4 a {
          color: #737272;
          cursor: pointer; }

.index-partner-warp {
  width: 1002px;
  margin: 0 auto;
  display: table; }

.index-partner-tit {
  float: left;
  width: 202px;
  margin: 10px 5px 10px 0; }
  .index-partner-tit .index-partner-tit-t {
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #00006e; }
    .index-partner-tit .index-partner-tit-t p {
      color: white;
      position: relative;
      top: 60px; }
    .index-partner-tit .index-partner-tit-t h2 {
      color: white;
      font-size: 30px;
      position: relative;
      top: 70px; }

.index-partner-cont {
  float: left;
  width: 795px; }
  .index-partner-cont ul li {
    width: 200px;
    height: 200px;
    margin: 10px 5px; }
    .index-partner-cont ul li img {
      width: 100%; }

/*# sourceMappingURL=style2.css.map */
